<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.generator.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.generator.model.User">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="enable" jdbcType="BIT" property="enable"/>
    </resultMap>
    <resultMap extends="com.example.generator.mapper.UserDetailMapper.BaseResultMap"
               id="UserDetailMap" type="com.example.user.vo.UserVO">
        <id column="id" jdbcType="INTEGER" property="id"/>
    </resultMap>
    <select id="selectAllFetchDetail" resultMap="UserDetailMap">
        select
        u.id,
        u.username,
        tud.user_id,
        tud.name,
        tud.age,
        tud.email,
        tud.gender
        from t_user u
        left join t_user_detail tud on u.id = tud.user_id
        <where>
            <if test="id != null and id != null">
                and u.id = #{param1}
            </if>
        </where>
    </select>
    <select id="showPersonalRole" resultType="java.lang.String">
        select
        r.description
        from t_role r
        left join r_user_role rur on r.id = rur.role_id
        left join t_user tu on rur.user_id = tu.id
        <where>
            <if test="username != null and username != ''">
                and tu.username = #{username}
            </if>
        </where>
    </select>
</mapper>