<h1>用户列表</h1>
<nz-table #basicTable [nzData]="dataSet">
  <thead>
  <tr>
    <th>姓名</th>
    <th>年龄</th>
    <th>性别</th>
    <th>电子邮箱</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{data.name}}</td>
    <td>{{data.age}}</td>
    <td>{{data.gender | gender}}</td>
    <td>{{data.email}}</td>
    <td>
      <a (click)="details(data)">查看详情</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="changePassword(data)">重置密码</a>
    </td>
  </tr>
  </tbody>
</nz-table>
